* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

form {
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 10px;
}

h1 {
    color: #fff;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    padding: 10px;
    border-radius: 7px;
    border: solid 0.5px #fff;
}

label {
    margin: 5px 0 5px 5px;
}

button {
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    background-color: #fff;
}
